$colorblack: #1e1e1f;
$colorblue: #0046b9;
$colorgrey: #8b8b93;
$colorwhite: #e3e3ec;
$colordarkblue: #14276f;
$colorpink: #e7c8e6;

$fontfamily: "IBM Plex Sans, Arial, Helvetica, sans-serif";
